/* nav {
    border-bottom: 1px solid black;
    max-width: 95%;
} */
/* 
.header-name { 
    background-color: lightblue;
    position: sticky;
    top: 20px;
    width: 95%;
    justify-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
} */

/* @media only screen and (min-width: 533px) 
{
    .navbar-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10%;
    }
    .navlink {
        border-color:rgb(23, 117, 218);
        background-color: aliceblue;
        border-radius: 25px;
        color: black;
        padding: 1em 2em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .navlink:hover {
        background-color: rgb(23, 117, 218);
        color:aliceblue;
    }
}

@media only screen and (max-width: 532px)
{
    .navbar-menu {
        display: block;
        margin: 0;
        padding: 0;
    }
    .navlink {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        justify-self: center;
    }
} */

/* .crumb a {
  display: inline-block;
  color: white;
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}  */